:root {
    --cor-fundo: #ffffff;
    --cor-principal: #999123;
    --cor-secundaria: #c9c9c9;
    --cor-aparente: #eeff00;
    --cor-do-texto: #111;
  }

body {
    background-color: var(--cor-fundo);
    color: var(--cor-do-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-aparente);
}
